{% extends 'base.html' %}

{% block title %}
Pets
{% endblock %}

{% block header %}
<h1 class="text-center">Meet {{pet.name}}!</h1>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-6">
    <div class="media flex-column align-items-start">
      <a href="/{{pet.id}}"> <img class="rounded sm" src="{{pet.photo_url}}" width="auto" height="180vh"></a>
      <div class="media-body m-2 mb-4">
        <p>
          About: {{pet.name}} is a {{pet.age}} {{pet.species}}!
        </p>
        {% if pet.available %}
        <a href="/" class="list-group-item list-group-item-action pl-1 pt-0 pb-0 pr-0 rounded">
          Adopt Me!
        </a>
        {% else %}
        <p>
          Not Available Right Now...
        </p>
        {% endif %}
        <p>Notes: {{pet.note}}</p>
      </div>
    </div>
  </div>
</div>
<form class="text-center mt-4">
  <button class="btn btn-primary" formaction="/{{pet.id}}/edit">Add New Information Here!</button>
</form>

{% endblock %}
