{% extends 'base.html' %}

{% block title %}
  Pets
{% endblock %}

{% block header %}
<h1 class="text-center">COME ADOPT US!</h1>
{% endblock %}

{% block content %}
    <div class="row">
{% for pet in pets %}
        <div class="col-6">
            <div class="media flex-column align-items-start">
                <a href="/{{ pet.id }}"><img class="rounded sm" src="{{ pet.photo_url }}" width="auto" height="180vh"></a>       
                <div class="media-body m-2 text-center">
                    <a href="/{{ pet.id }}" class="list-group-item list-group-item-action py-1 px-2 rounded">
                        {{pet.name}} 
                    </a>
                </div>
                    {% if pet.available %}
                    <p>
                        {{ pet.name }} is available to adopt!
                    </p>
                    {% else %}
                    <p>
                       {{ pet.name }} is not available right now...
                    </p>
                    {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <form class="text-center mt-4">
        <button class="btn btn-secondary" formaction="/add">Add Your Pet!</button>
    </form>
    <h2 class="text-center mt-4">Random Petfinder Pets</h2>
    <div class="row">
        {% for pet in random_pets %}
                <div class="col-6">
                    <div class="media flex-column align-items-start">
                        <img class="rounded sm" src="{{ pet.photo_url }}" width="auto" height="180vh">           
                        <div class="media-body mt-2">
                            <a href="/" class="list-group-item list-group-item-action px-2 py-1 rounded">
                                {{pet.name}} 
                            </a>
                        </div>
                            <p>Species: {{ pet.species }}</p>
                            <p>Age: {{ pet.age }}</p>
                    </div>
                </div>
                {% endfor %}
    
{% endblock %}